{% extends '/dashboard/base.html' %}
{% from 'bootstrap4/form.html' import render_form %}


{% block title %}Edit Service {{ service.service_name }} {% endblock %}

{% block content %}




<!-- Admin Service Form -->
<form action="{{ url_for('admin_bp.partially_update_service', service_id=service.id) }}" method="POST">
    {{ form.hidden_tag() }}
    <div class="container mt-4">
        <div class="form-group">
            <h3>{{ form.service_name.label(class="form-label") }}</h3>
            {{ form.service_name(class="form-control", value=service.service_name) }}
        </div>
        <div class="form-group">
            <h3>{{ form.banner_subheading.label(class="form-label") }}</h3>
            {{ form.banner_subheading(class="form-control", value=service.banner_subheading) }}
        </div>
        <div class="form-group">
            <h3>{{ form.homepage_description.label(class="form-label") }}</h3>
            {{ form.homepage_description(class="form-control", rows="3") }}{{ service.homepage_description }}</textarea>
        </div>
        <div class="form-group">
            <h3>{{ form.homepage_image_url.label(class="form-label") }}</h3>
            {{ form.homepage_image_url(class="form-control", value=service.homepage_image_url) }}
            <img src="{{ service.homepage_image_url }}" alt="Home Page Image" class="img-thumbnail mt-2" style="width: 100px;">
        </div>
        <div class="form-group">
            <h3>{{ form.feature_one_description.label(class="form-label") }}</h3>
            {{ form.feature_one_description(class="form-control ckeditor", rows="3") }}{{ service.feature_one_description }}</textarea>
        </div>
        <div class="form-group">
            <h3>{{ form.feature_one_image_url.label(class="form-label") }}</h3>
            {{ form.feature_one_image_url(class="form-control", value=service.feature_one_image_url) }}
            <img src="{{ service.feature_one_image_url }}" alt="Feature One Image" class="img-thumbnail mt-2" style="width: 100px;">
        </div>
        <div class="form-group">
            <h3>{{ form.feature_two_description.label(class="form-label") }}</h3>
            {{ form.feature_two_description(class="form-control ckeditor", rows="3") }}{{ service.feature_two_description }}</textarea>
        </div>
        <div class="form-group">
            <h3>{{ form.feature_two_image_url.label(class="form-label") }}</h3>
            {{ form.feature_two_image_url(class="form-control", value=service.feature_two_image_url) }}
            <img src="{{ service.feature_two_image_url }}" alt="Feature Two Image" class="img-thumbnail mt-2" style="width: 100px;">
        </div>
        <button type="submit" class="btn btn-primary mt-3">Save Changes</button>
        <a href="{{ url_for('admin_bp.services') }}" class="btn btn-secondary mt-3">Cancel</a>
    </div>
</form>

<!-- Include CKEditor script -->
<script>
    // Initialize CKEditor for the specific textareas
    CKEDITOR.replace('feature_one_description');
    CKEDITOR.replace('feature_two_description');



</script>



{% endblock %}
