{% extends '/dashboard/base.html' %}
% from 'bootstrap4/form.html' import render_form %}


{% block title %}Home Page Content{% endblock %}

{% block content %}

<div class="card shadow mb-4 mt-4">
    <div class="card-header py-3">

    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>name</th>
                        <th>Heading</th>
                        <th>Subheading</th>
                        <th>Image Url</th>

                    </tr>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                    {% for home in home_content %}
                        <td>{{ home.id }}</td>
                        <td>{{ home.name }}</td>
                        <td>{{ home.heading }}</td>
                        <td>{{ home.subheading }}</td>
                        <td><img src="{{ home.img_url }}" alt="Home Page Image" style="width: 100px;"></td>
                        <a href="{{ url_for('admin_bp.partially_update_home_content', home_id=home.id) }}">
                            <button class="btn btn-primary m-1">
                                <i class="fas fa-fw fa-wrench"></i> Edit Home Page info
                            </button> </a>

                    {% endfor %}






                    </tr>

                </tbody>
            </table>
        </div>
    </div>

    
{% endblock %}